/* Esta es una forma temporal de delcarar las variables de bootstrap */

:root {
    --bs-primary: #BD6DFF; /* Nuevo color primario */
    --bs-primary-fuerte: #7929bb; /* esto se debe borrar */
    --bs-primary-rgb: 189, 109, 255;
    --link-color: var(--bs-primary); /* Color de los enlaces */
    --bs-btn-color: #ffffff; /* Color del texto del botón */
    --bs-btn-border-color2: var(--bs-primary-fuerte); /* Color del borde del botón */
    --bs-border-color2:222, 226, 230;
    --bs-link-color-rgb:33,37,41;
    --bs-btn-hover-bg2:var(--bs-primary-fuerte);
    --bs-btn-hover-border-color:var(--bs-primary-fuerte);
    --bs-btn-active-bg:var(--bs-primary-fuerte);
    --bs-btn-active-border-color2:var(--bs-primary-fuerte);
    --body-bg-color-rgb:rgb(253, 253, 255);
    --body-bg-color-rgb:rgb(253, 253, 255);
    --bs-primary-bg-subtle: #efdcff;
    --bs-btn-active-color: #ffffff;
    --bs-btn-hover-bg: var(--bs-primary) !important;
    --bs-btn-hover-border-color: var(--bs-primary-fuerte) !important;
    --bs-btn-bg:#BD6DFF !important;
}

body{
    background-color: var(--body-bg-color-rgb);
}

.border-end {
    border-color: var(--bs-border-color2);
}


.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: var(--bs-primary-fuerte);
    border-color: var(--bs-btn-active-border-color2);
    color: white;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;
    border:0;
}

.btn-primary, .btn-primary:hover{
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
/* andres codigo para las etiquetas a del mismo color que el primary */
.hiper-vinculo{
    color: var(--bs-primary);
}
.hiper-vinculo:hover{
    color: white;
}
/* outline para el mismo color de boton pero outline */
.btn-outline-primary {
    color: #BD6DFF;
    border: 1px solid #BD6DFF;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: #fff;
    background-color: #BD6DFF;
    border-color: #BD6DFF;
    text-decoration: none;
}